body {
  height:100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}  

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}